<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/estilo.css">
    <h1>Dados  </h1>
</head>
<body>
    <div class="informacoes">
        <form action="/criar" method = "POST">
            <input type='nome_musica' id='nome_musica' name='nome_musica' placeholder="Digite o nome da musica">
            <input type='artista' id='artista' name='artista' placeholder="Digite o nome do artista">
            <input type='status' id='status' name='status' placeholder="Digite o status da musica">
            <input type='letra' id='letra' name='letra' placeholder="Digite a letra da musica">
            <input type='imagem' id='imagem' name='imagem' placeholder="Digite a imagem">
            
            <button type="submit">enviar</button>
            
        </form>
       
        
    </div>
    
</body>
    
</html>