<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <!-- Criar link HTML e CSS -->
    <link rel="stylesheet" href="/static/estilo.css">
    <!-- Adicionar o ícone (favicon) do site -->
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
</head>

<body class="cadastro">
    <div class="cadastrar">
        <h2>Editar musica</h2>
        <!-- ADICIONAR O FORM AO INICIO -->
        <form action="/editar" method="POST">
            <p>nome da musica</p>
            <input type='text' name='nome_musica' placeholder="Digite o nome da musica">
            <p>nome do artista</p>
            <input type='text' name='artista' placeholder="Digite o nome do artista">
            <p>status da musica</p>
            <input type='status' name='status' placeholder="Digite o status da musica">
            <p>Letra</p>
            <input type='letra' name='letra' placeholder="Digite a letra da musica">
            <p>Imagem</p>
            <input type='imagem' name='imagem' placeholder="Digite o URL da imagem">
            <br>
            <br>
            <div class="botoes">
                <!-- <a href="">Criar conta</a> -->
                <!-- Mudar o a para um button -->
                <button type="submit">Editar</button>
            </div>
            <!-- FECHAR O FORMS AO FIM -->
        </form>

    </div>
    
    <script src="/static/script.js"></script>
</body>

</html>