<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="static/estilo.css">
</head>
<body id="home">
    <img id="logo-home" src="/static/img/Logo texto.png">
    
   
    <div class="botoes">
        <a href="/apagar">+ Apagar sua conta</a>
        <a href="/criar"> + Criar uma música</a>
        <a href="/logout"> +nada</a>

    </div>.
    
      <!-- Seção de "Minhas Criações" -->
      <section class="my-creations">
        <h2>Minhas Criações</h2>
        
        <div class="cards-container">
          <!-- Card de projeto musical -->
          
          {% for musica in musicas %}
          
          
            <div class="card">

              <img src="{{musica[5]}}" class="cover" alt="imagem">
              
              <div class="card-content">
                
                <div class="botoes">
                  <a href="/editar/{{musica[0]}}">+ editar </a>
                  <a href="/excluir/{{musica[0]}}">+ excluir </a>

                </div>

              

                <h3>{{musica[2]}} </h3>
                <p>Artista: {{musica[3]}}</p>
                <p>Status:  {{musica[4]}}</p>
                <p>Letra:  {{musica[5]}}</p>
              </div>
            </div>
            
          {% endfor %}
            
          
            
  
          <!-- Mais cards podem ser adicionados aqui -->
        </div>
      </section>

</body>
</html>